KNBOX_KYLITH_ISSUER=https://auth0.kylith.com
KNBOX_KYLITH_CREDENTIALS_FILE=/path/to/Web-credentials.json
KNBOX_PUBLIC_URL=http://localhost:6789
KNBOX_FILES_PUBLIC_URL=http://localhost:6789
KNBOX_USER_QUOTA_BYTES=1073741824
KNBOX_KYLITH_REDIRECT_URI=http://localhost:6789/auth/callback
